{% extends "Layout/layout.twig" %}
{% block title %}Conditions générale d'utilisation{% endblock %}
{% block content %}

    <div class="cgv_div">

        <h1>PROCESSUS DE COMMANDE</h1>

        <p>Toute commande validée constitue une acception irrévocable des conditions générales de vente et du paiement et validera votre transaction. Les données enregistrée par beyserv.net constituent la preuve de l'ensemble des transactions passées par beyserv.net et ses clients. Les données enregistrées par le système de paiement constituent la preuve des transaction financières.</p>

       <h1>PAIEMENT</h1>

        <p>Le paiement s'effectue en ligne par le biais des services Dédipass.
        Les informations personnelles ainsi que les numéros de carte bancaire ne circulent jamais en clair entre le navigateur et le serveur, les données sont signées et cryptées et transmises par le protocole SSL.</p>

        <h1>PRODUITS</h1>

        <p>Les caractéristiques des produits et services proposés à la vente sont présentées sur notre boutique (http://beyserv.net/boutique).
        Certains produits peuvent être vendus à vie, c'est à dire pendant la durée de vie de nos services. beyserv se réserve le droit d'ajouter, supprimer ou modifier le contenu des produits à tout moment. La modification d'un produit ne donne pas le droit à un remboursement.</p>

        <h1>TARIFS</h1>

        <p>Les tarifs de nos articles sont affichés sur la boutique au moment du paiement. Ils sont indiqués toutes taxes comprises. beyserv.net se réserve le droit de modifier ses prix à tout moment.</p>

        <h1>MODALITÉS DE REBOURSEMENT</h1>

        <p>beyserv.net livre des produits immatériels, aucun remboursement ou échange n'est possible après que le produit ait été livré.</p> 

        <h1>DROIT DE RÉTRACTATION</h1>

        <p>Par dérogation à l'article L. 121-20-2 du Code Français de la Consommation, le Client n'a plus le droit de rétractation à compter de la date et heure de fourniture de service. Il est important de noter que le service est mis en place instantanément en cas de paiement par l'un des services de paiement proposés.</p>

        <p>Par dérogation à l'article L. 121-20-1 du Code Français de la Consommation, le Client a un droit de rétractation de 7 (sept) jours si le service n'a pas encore été livré.
        Ce droit de rétractation s'effectue par message à l'adresse mail contact@beyserv.net, et donne droit pour le client au remboursement des sommes déjà versées par lui dans un délai de 30 (trente) jours à compter de la réception de l'avis. Toute demande de rétraction qui ne respecterait pas le délai légal ou ne fournirait pas assez d'informations ne sera pas prise en considération.</p>

    </div>

{% endblock %}