{% extends "Layout/layout.twig" %}
{% block title %}Mentions légales{% endblock %}
{% block content %}

    <div class="cgv_div">

       <h1>PRÉAMBULE</h1>

        <p>Le site beyserv.net ainsi que l'accès aux serveurs de jeu sont gratuit, sans obligation d'achat.
        beyserv.net se réserve le droit de modifier sans préavis ou annonce les présentes conditions générales de vente qui devront être consultées avant tout achat sur le site.
        L'utilisateur doit être majeur ou disposer une autorisation de son responsable avant d'effectuer un achat sur le site beyserv.net.</p>
        <h1>DÉFINITIONS</h1>

        <p>Les services appartenant à beyserv.net constituent l'ensemble des services disponibles à l'URL http://beyserv.net, ceci comprend les sites internet, les serveurs de jeux, les forums, etc ...</p>

        <h1>CONDITIONS D'UTILISATION</h1>

        <p>Tous les articles proposés dans la boutique beyserv.net restent la propriété exclusive de beyserv.net. A ce titre personne n'a le droit de vendre ou revendre le contenu appartenant à beyserv.net. Un non respect des conditions d'utilisation ou de vente pourra conduire à des poursuites et une interdiction d'utilisation de tous les serveurs beyserv.net. Une interdiction d'utilisation ou d'accès à beyserv ne donne pas au client le droit à un remboursement. Le client est tenu de respecter le règlement de nos services et les règles de savoir-vivre.</p>


    </div>

{% endblock %}